<%- include('partials/header.ejs') %>
    <div class="blog about-page">
        <h2 class="page-title">
            About us
        </h2>
        <p class="page-content">
            quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
            odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
            quisquam est, qui dolorem ipsummmodo consequat. Duis aute irure dolor "But I must explain to you how all
            denouncing pleasure and praising pain was born and I will give you a complete account of the system, and
            expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No
            one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know
            how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there
            anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because
            occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a
            trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage
            from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying
            tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel
            iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
            fugiat quo voluptas nulla pariatur?
        </p>
    </div>

    <%- include('partials/footer.ejs') %>