<%- include('partials/header.ejs') %>

    <div class="page-wrapper">
        <div class="content-box">
            <h1 class="page-title">Compose</h1>
            <form method="post" action="posts" class="compose-form">
                <p>Title</p>
                <input type="text" name="title" required>
                <p>Article</p>
                <textarea name="article" required autocomplete="off"></textarea>
                <p>Author</p>
                <input type="text" name="author" required >
                <button type="submit">Publish</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>